*{
  margin:0px;
  padding:0px;
  outline: 0px;
  box-sizing: border-box;
}

html, body, #root  { 
  height: 100%;
}

body {
  background-color: #F5F5F5; 
}

body,input,button{
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif ;
}